.footer{
       		display: flex;
       		justify-content: space-between;
       		align-items: center;
       		border-radius: 4px;
       		background-color: var(--MOrangeM);
			border: 1px solid var(--MOrangeM);
			color:var(--BGreyT);
			text-decoration: none;
			overflow: hidden;
			height: 11%;
			padding: 1%;

}