body {
  font-family: "Londrina Solid";
  background-image: url(../media/background_body.png);
  background-size: cover;
  height: 100%;
}
.logo {
  text-align: center;
}
.form {
  border: 2px solid var(--BGreyT);
  width: 60%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 10px;
  background-color: var(--BGreyT);
  box-shadow: 2px 2px 5px var(--GBlueM);
  text-align: center;
}

h1 {
  text-align: center;
  color: var(--DBlueM);
  margin-bottom: 10px;
}
label {
  color: var(--DBlueM);
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 5px 0;
  border: 1px solid var(--BGreyT);
  box-sizing: border-box;
  border-radius: 10px;
}
.newEmail {
  margin: 6px 0;
  padding: 12px 20px;
  background-color: var(--SOrangeM);
  border-radius: 10px;
  border: none;
}
#btn {
  margin-top: 3%;
  text-align: center;
}

.submit {
  background-color: var(--SOrangeM);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
}
#fa-plus {
  color: var(--DBlueM);
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}

input[type="email"] {
	display: block;
}