/*Colours:

Main Orange: #CB5A04; (main menus)
Soft Orange: #D59A34; (submenus)
Medium Yellow: #DEDA64; (writting)
Basic Grey: #DEDEDE; (writting)
Grey blue: #393B82; (submenus)
Deep Blue: #01068C; (main menus)
*/


/*
.Header {
	margin: auto;
	padding:auto;
	overflow: visible;
	width: 100%;
	height: auto;
	border: 1px solid red;
 	border-radius: 10px;
	background-color: red;

}
*/

@font-face {
	font-family: "LondrinaSolidThin";
	src: url('LondrinaSolid-Thin.ttf');

	font-family: "LondrinaSolidBlack";

	src: url('LondrinaSolid-Black.ttf');

	font-family: "LondrinaSolidLight";
	src: url('LondrinaSolid-Light.ttf');

	font-family: "LondrinaSolidRegular";
	src: url('LondrinaSolid-Regular.ttf');


}

html,body {
	margin:1px;
	height:100%;
	font-family: "LondrinaSolidThin";
}


.Errors {
	overflow: hidden;
	width: 100%;
	height: auto;
	border-color: red;
	border: solid 1px;
	display: flex;
}

.landingButtons {	
	padding:0,5%;
	width:20%;
	height:20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--MOrangeM);
	border: 1px solid var(--MOrangeM);
 	border-radius: 10px;
}

.inputButton {
	background-color: var(--SOrangeM);
	border-color: var(--MOrangeM);
	box-shadow: 1px solid;
	border-radius: 4px;
}

.SubWelcome {
	display: flex;
	margin: 1%;
	width:95%;
	height:30%;
	border: 1px solid var(--GBlueM);
	background-color: var(--GBlueM);
	border-radius: 10px;
	justify-content: center;
	position: flex-start;
	
}

.Welcome {
	display: flex;
	flex-wrap: wrap;
	margin: 1%;
	width:98%;
	height:98%;
	border: 1px solid var(--DBlueM);
	background-color: var(--DBlueM);
	border-radius: 10px;
	justify-content: center;
	
}
.SubWelcomeText {
	color:var(--BGreyT);
	font-size:24px;
}

.WelcomeText {
	color: var(--MYellowT);
	font-size: 40px;
}

